# Yfinance lib

In [3]:
# !pip install yfinance

In [1]:
import yfinance as yf

In [3]:

msft = yf.Ticker("MSFT") # get stock info from yfinance of Microsoft
msft

yfinance.Ticker object <MSFT>

In [4]:

# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.49123,
 'profitMargins': 0.38498002,
 'grossMargins': 0.68825996,
 'operatingCashflow': 83909001216,
 'revenueGrowth': 0.201,
 'operatingMargins': 0.42523998,
 'ebitda': 90829996032,
 'targetLowPrice': 306.55,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 46479876096,
 'targetMedianPrice': 370,
 'currentPrice': 287.93,
 'earningsGrowth': 0.222,
 'currentRatio': 2.247,
 'returnOnAssets': 0.15248999,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 370.89,
 'debtToEquity': 50.217,
 'returnOnEquity': 0.49051,
 'targetHighPrice': 425,
 'totalCash': 125348003840,
 'totalDebt': 80353001472,
 'totalRevenue': 184902991872,
 'totalCashPerShare': 16.72,
 'financialCurrency': 'USD',
 'revenuePerShare': 24.585,
 'quickRatio': 2.05,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 11.544,
 'beta3Year': None,
 'enterpriseToEbitda': 23.501,
 '52WeekChange': 0.22779417,
 'morningStarRiskRating': None,
 'forwardEps': 10.75,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7496869888,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.335,
 'sharesShort': 40179258,
 'sharesPercentSharesOut': 0.0054,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71994,
 'netIncomeToCommon': 71184998400,
 'trailingEps': 9.389,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': 0.12185478,
 'priceToBook': 13.495665,
 'heldPercentInsiders': 0.00059999997,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': 0.87,
 'sharesShortPreviousMonthDate': 1640908800,
 'floatShares': 7489894342,
 'beta': 0.888612,
 'enterpriseValue': 2134568992768,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1644969600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.214,
 'priceToSalesTrailing12Months': 11.674088,
 'dateShortInterest': 1643587200,
 'pegRatio': 1.79,
 'ytdReturn': None,
 'forwardPE': 26.784185,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0054,
 'sharesShortPriorMonth': 39382126,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 290.73,
 'regularMarketOpen': 293.05,
 'twoHundredDayAverage': 297.06375,
 'trailingAnnualDividendYield': 0.008117497,
 'payoutRatio': 0.2449,
 'volume24Hr': None,
 'regularMarketDayHigh': 293.83,
 'navPrice': None,
 'averageDailyVolume10Day': 33717520,
 'regularMarketPreviousClose': 290.73,
 'fiftyDayAverage': 314.7026,
 'trailingAnnualDividendRate': 2.36,
 'open': 293.05,
 'toCurrency': None,
 'averageVolume10days': 33717520,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1644969600,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 286.305,
 'currency': 'USD',
 'trailingPE': 30.666737,
 'regularMarketVolume': 34264008,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2158573649920,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 36216833,
 'dayLow': 286.305,
 'ask': 285.97,
 'askSize': 1800,
 'volume': 34264008,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.37,
 'fiftyTwoWeekLow': 224.26,
 'bid': 285.75,
 'tradeable': False,
 'dividendYield': 0.0085,
 'bidSize': 1000,
 'dayHigh': 293.83,
 'regularMarketPrice': 287.93,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.3971}

In [7]:
# get historical market data
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055783,0.063987,0.055783,0.061252,1031788800,0.00,0.0
1986-03-14,0.061252,0.064533,0.061252,0.063439,308160000,0.00,0.0
1986-03-17,0.063439,0.065080,0.063439,0.064533,133171200,0.00,0.0
1986-03-18,0.064534,0.065080,0.062345,0.062892,67766400,0.00,0.0
1986-03-19,0.062892,0.063439,0.061252,0.061799,47894400,0.00,0.0
...,...,...,...,...,...,...,...
2022-02-14,293.163823,296.147675,290.748834,294.391296,36339400,0.00,0.0
2022-02-15,299.390964,300.179312,296.407113,299.850006,27379500,0.00,0.0
2022-02-16,298.369995,300.869995,293.679993,299.500000,29982100,0.62,0.0
2022-02-17,296.359985,296.799988,290.000000,290.730011,32461600,0.00,0.0
2022-02-18,293.049988,293.859985,286.309998,287.929993,34223200,0.00,0.0

In [6]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0

[82 rows x 2 columns]

In [8]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-02-17    0.56
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
2022-02-16    0.62
Name: Dividends, Length: 73, dtype: float64

In [9]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [11]:
# show financials
msft.financials

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,20716000000.0,19269000000.0,16876000000.0,14726000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,71102000000.0,53036000000.0,43688000000.0,36474000000.0
Minority Interest,None,None,None,None
Net Income,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Selling General Administrative,25224000000.0,24523000000.0,23098000000.0,22223000000.0
Gross Profit,115856000000.0,96937000000.0,82933000000.0,72007000000.0
Ebit,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Operating Income,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2330000000.0,-2591000000.0,-2686000000.0,-2733000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9831000000.0,8755000000.0,4448000000.0,19903000000.0
Total Revenue,168088000000.0,143015000000.0,125843000000.0,110360000000.0
Total Operating Expenses,98172000000.0,89870000000.0,82884000000.0,75302000000.0
Cost Of Revenue,52232000000.0,46078000000.0,42910000000.0,38353000000.0
Total Other Income Expense Net,1186000000.0,-109000000.0,729000000.0,1416000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Net Income Applicable To Common Shares,61271000000.0,44281000000.0,39240000000.0,16571000000.0

In [12]:
msft.quarterly_financials

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Research Development,5758000000.0,5599000000.0,5687000000.0,5204000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,22515000000.0,20524000000.0,19405000000.0,17236000000.0
Minority Interest,None,None,None,None
Net Income,18765000000.0,20505000000.0,16458000000.0,15457000000.0
Selling General Administrative,6763000000.0,5834000000.0,7379000000.0,6409000000.0
Gross Profit,34768000000.0,31671000000.0,32161000000.0,28661000000.0
Ebit,22247000000.0,20238000000.0,19095000000.0,17048000000.0
Operating Income,22247000000.0,20238000000.0,19095000000.0,17048000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-521000000.0,-535000000.0,-549000000.0,-628000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3750000000.0,19000000.0,2947000000.0,1779000000.0
Total Revenue,51728000000.0,45317000000.0,46152000000.0,41706000000.0
Total Operating Expenses,29481000000.0,25079000000.0,27057000000.0,24658000000.0
Cost Of Revenue,16960000000.0,13646000000.0,13991000000.0,13045000000.0
Total Other Income Expense Net,268000000.0,286000000.0,310000000.0,188000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,18765000000.0,20505000000.0,16458000000.0,15457000000.0
Net Income Applicable To Common Shares,18765000000.0,20505000000.0,16458000000.0,15457000000.0

In [13]:
# show major holders
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  71.99%       % of Shares Held by Institutions
2  72.04%        % of Float Held by Institutions
3    5780  Number of Institutions Holding Shares

In [14]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",615950062,2021-12-30,0.0822,207156324851
1,Blackrock Inc.,519035634,2021-12-30,0.0692,174562064426
2,State Street Corporation,302541869,2021-12-30,0.0404,101750881382
3,"FMR, LLC",215377233,2021-12-30,0.0287,72435671002
4,Price (T.Rowe) Associates Inc,204196901,2021-12-30,0.0272,68675501744
5,"Geode Capital Management, LLC",129107118,2021-12-30,0.0172,43421305925
6,Capital World Investors,107717797,2021-12-30,0.0144,36227649487
7,Capital Research Global Investors,92868182,2021-12-30,0.0124,31233426970
8,Capital International Investors,90985531,2021-12-30,0.0121,30600253785
9,Northern Trust Corporation,88410999,2021-12-30,0.0118,29734387183

In [16]:
# show balance sheet
msft.balance_sheet
# msft.quarterly_balance_sheet

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Intangible Assets,7.800000e+09,7.038000e+09,7.750000e+09,8.053000e+09
Total Liab,1.917910e+11,1.830070e+11,1.842260e+11,1.761300e+11
Total Stockholder Equity,1.419880e+11,1.183040e+11,1.023300e+11,8.271800e+10
Other Current Liab,5.261200e+10,4.600100e+10,4.586000e+10,3.819500e+10
Total Assets,3.337790e+11,3.013110e+11,2.865560e+11,2.588480e+11
Common Stock,8.311100e+10,8.055200e+10,7.852000e+10,7.122300e+10
Other Current Assets,1.347100e+10,1.151700e+10,1.013300e+10,6.855000e+09
Retained Earnings,5.705500e+10,3.456600e+10,2.415000e+10,1.368200e+10
Other Liab,3.168100e+10,3.449200e+10,3.569900e+10,3.570700e+10
Good Will,4.971100e+10,4.335100e+10,4.202600e+10,3.568300e+10
Treasury Stock,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Other Assets,1.507500e+10,1.313800e+10,1.472300e+10,7.442000e+09
Cash,1.422400e+10,1.357600e+10,1.135600e+10,1.194600e+10
Total Current Liabilities,8.865700e+10,7.231000e+10,6.942000e+10,5.848800e+10
Deferred Long Term Asset Charges,7.181000e+09,6.405000e+09,7.536000e+09,1.369000e+09
Short Long Term Debt,8.072000e+09,3.749000e+09,5.516000e+09,3.998000e+09
Other Stockholder Equity,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Property Plant Equipment,7.080300e+10,5.290400e+10,4.385600e+10,3.614600e+10
Total Current Assets,1.844060e+11,1.819150e+11,1.755520e+11,1.696620e+11
Long Term Investments,5.984000e+09,2.965000e+09,2.649000e+09,1.862000e+09
Net Tangible Assets,8.447700e+10,6.791500e+10,5.255400e+10,3.898200e+10
Short Term Investments,1.160320e+11,1.229160e+11,1.224760e+11,1.217180e+11
Net Receivables,3.804300e+10,3.201100e+10,2.952400e+10,2.648100e+10
Long Term Debt,5.007400e+10,5.957800e+10,6.666200e+10,7.224200e+10
Inventory,2.636000e+09,1.895000e+09,2.063000e+09,2.662000e+09
Accounts Payable,1.516300e+10,1.253000e+10,9.382000e+09,8.617000e+09

In [17]:

# show cashflow
msft.cashflow
msft.quarterly_cashflow

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Investments,2.876000e+09,6.980000e+09,5.400000e+08,6.557000e+09
Change To Liabilities,7.431000e+09,5.230000e+09,4.694000e+09,7.070000e+09
Total Cashflows From Investing Activities,-2.757700e+10,-1.222300e+10,-1.577300e+10,-6.061000e+09
Net Borrowings,-3.750000e+09,-5.518000e+09,-4.000000e+09,-1.020100e+10
Total Cash From Financing Activities,-4.848600e+10,-4.603100e+10,-3.688700e+10,-3.359000e+10
Change To Operating Activities,1.160000e+09,-6.730000e+08,-1.542000e+09,-4.590000e+08
Issuance Of Stock,1.693000e+09,1.343000e+09,1.142000e+09,1.002000e+09
Net Income,6.127100e+10,4.428100e+10,3.924000e+10,1.657100e+10
Change In Cash,6.480000e+08,2.220000e+09,-5.900000e+08,4.283000e+09
Repurchase Of Stock,-2.738500e+10,-2.296800e+10,-1.954300e+10,-1.072100e+10
Effect Of Exchange Rate,-2.900000e+07,-2.010000e+08,-1.150000e+08,5.000000e+07
Total Cash From Operating Activities,7.674000e+10,6.067500e+10,5.218500e+10,4.388400e+10
Depreciation,1.090000e+10,1.230000e+10,1.160000e+10,9.900000e+09
Other Cashflows From Investing Activities,-9.220000e+08,-1.241000e+09,-1.241000e+09,-9.800000e+07
Dividends Paid,-1.652100e+10,-1.513700e+10,-1.381100e+10,-1.269900e+10
Change To Inventory,-7.370000e+08,1.680000e+08,5.970000e+08,-4.650000e+08
Change To Account Receivables,-6.481000e+09,-2.577000e+09,-2.812000e+09,-3.862000e+09
Other Cashflows From Financing Activities,-2.523000e+09,-3.751000e+09,-6.750000e+08,-9.710000e+08
Change To Netincome,5.505000e+09,5.577000e+09,-2.521000e+09,-3.054000e+09
Capital Expenditures,-2.062200e+10,-1.544100e+10,-1.392500e+10,-1.163200e+10

,2021-12-31,2021-09-30,2021-06-30,2021-03-31
Investments,5.643000e+09,4.183000e+09,-4.334000e+09,2.517000e+09
Change To Liabilities,-4.108000e+09,-3.356000e+09,1.301400e+10,3.600000e+08
Total Cashflows From Investing Activities,-1.161000e+09,-3.250000e+09,-1.085300e+10,-9.684000e+09
Total Cash From Financing Activities,-1.198600e+10,-1.627600e+10,-1.137100e+10,-1.319200e+10
Change To Operating Activities,1.760000e+09,-3.551000e+09,7.990000e+08,1.305000e+09
Issuance Of Stock,2.910000e+08,6.120000e+08,4.500000e+08,3.960000e+08
Net Income,1.876500e+10,2.050500e+10,1.645800e+10,1.545700e+10
Change In Cash,1.439000e+09,4.941000e+09,5.220000e+08,-7.300000e+08
Repurchase Of Stock,-7.433000e+09,-7.684000e+09,-7.177000e+09,-6.930000e+09
Effect Of Exchange Rate,1.060000e+08,-7.300000e+07,3.600000e+07,-3.300000e+07
Total Cash From Operating Activities,1.448000e+10,2.454000e+10,2.271000e+10,2.217900e+10
Depreciation,3.496000e+09,3.212000e+09,2.558000e+09,2.936000e+09
Other Cashflows From Investing Activities,-8.900000e+07,-4.170000e+08,4.340000e+08,4.000000e+08
Dividends Paid,-4.652000e+09,-4.206000e+09,-4.214000e+09,-4.221000e+09
Change To Inventory,3.940000e+08,-7.770000e+08,-3.880000e+08,-3.290000e+08
Change To Account Receivables,-5.543000e+09,1.048600e+10,-1.160600e+10,2.900000e+08
Other Cashflows From Financing Activities,-1.920000e+08,-1.720000e+08,-4.300000e+08,-1.937000e+09
Change To Netincome,1.773000e+09,-4.632000e+09,1.907000e+09,1.086000e+09
Capital Expenditures,-5.865000e+09,-5.810000e+09,-6.452000e+09,-5.089000e+09
Net Borrowings,NaN,-4.826000e+09,-4.826000e+09,-5.000000e+08

In [18]:
# show earnings
msft.earnings
msft.quarterly_earnings

           Revenue     Earnings
Year
2018  110360000000  16571000000
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000

             Revenue     Earnings
Quarter
1Q2021   41706000000  15457000000
2Q2021   46152000000  16458000000
3Q2021   45317000000  20505000000
4Q2021   51728000000  18765000000

In [19]:
# show sustainability
msft.sustainability

                                     Value
2022-2
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              105
governanceScore                       4.73
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.26
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            6.32
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

In [20]:

# show analysts recommendations
msft.recommendations

                                  Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00     Argus Research            Buy                up
2012-03-19 14:00:00     Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00     Morgan Stanley     Overweight              main
2012-04-03 11:53:00                UBS            Buy              main
2012-04-20 06:18:00      Deutsche Bank            Buy              main
...                                ...            ...        ...    ...
2022-01-26 14:06:23        BMO Capital     Outperform              main
2022-01-26 14:42:40        Oppenheimer     Outperform              main
2022-01-26 15:03:00     Morgan Stanley     Overweight              main
2022-01-26 15:06:01          Citigroup            Buy              main
2022-02-04 16:31:41  Tigress Financial            Buy              main

[366 rows x 4 columns]

In [21]:

# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2022-04-25 10:59:00  2022-04-29 12:00:00
Earnings Average                 2.19                 2.19
Earnings Low                     2.14                 2.14
Earnings High                    2.29                 2.29
Revenue Average           49054700000          49054700000
Revenue Low               48652000000          48652000000
Revenue High              49719000000          49719000000

In [22]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [23]:
# show options expirations
msft.options

('2022-02-25',
 '2022-03-04',
 '2022-03-11',
 '2022-03-18',
 '2022-03-25',
 '2022-04-01',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-08-19',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2024-01-19')

In [24]:
# show news
msft.news

[{'uuid': '2a8fc543-d18e-32f1-9708-86a5c71adb32',
  'title': '10 Best Stocks to Buy According to Stanley Druckenmiller',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/10-best-stocks-buy-according-184806148.html',
  'providerPublishTime': 1645210086,
  'type': 'STORY'},
 {'uuid': '74a31d64-85f2-3d53-8b21-db979df4516e',
  'title': 'Microsoftâ€™s 10 Biggest Acquisitions of All Time',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/microsoft-10-biggest-acquisitions-time-183513066.html',
  'providerPublishTime': 1645209313,
  'type': 'STORY'},
 {'uuid': '6609c8b1-326a-3329-b95c-a3fee6d44405',
  'title': 'â€˜Seismic shift at a glacial paceâ€™ â€” Microsoft is walking into one of the weirdest times ever for a big merger',
  'publisher': 'MarketWatch',
  'link': 'https://finance.yahoo.com/m/6609c8b1-326a-3329-b95c-a3fee6d44405/%E2%80%98seismic-shift-at-a-glacial.html',
  'providerPublishTime': 1645208700,
  'type': 'STORY'},
 {'uuid': '3588c124-7e11-3992-b306-49ff05f27336',
  'title': 'Why Growth and Returns are Surprisingly High for Microsoft (NASDAQ:MSFT)',
  'publisher': 'Simply Wall St.',
  'link': 'https://finance.yahoo.com/news/why-growth-returns-surprisingly-high-181810000.html',
  'providerPublishTime': 1645208290,
  'type': 'STORY'},
 {'uuid': '65b53896-faf4-3a06-9d0d-a63cf3c83192',
  'title': '4 Dow Jones Stocks To Buy And Watch In February 2022: Apple Slides',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/65b53896-faf4-3a06-9d0d-a63cf3c83192/4-dow-jones-stocks-to-buy-and.html',
  'providerPublishTime': 1645206693,
  'type': 'STORY'},
 {'uuid': 'd53e56ca-b407-3254-8782-e73642f8a6dc',
  'title': 'â€˜Horizon Forbidden Westâ€™ Looms Large in\xa0Sonyâ€™s PlayStation Strategy',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/horizon-forbidden-west-looms-large-164424663.html',
  'providerPublishTime': 1645205859,
  'type': 'STORY'},
 {'uuid': '08561c49-1aed-38af-b580-d344931bf917',
  'title': 'Is Roblox Stock A Buy Right Now After Q4 Earnings Results?',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/08561c49-1aed-38af-b580-d344931bf917/is-roblox-stock-a-buy-right.html',
  'providerPublishTime': 1645204608,
  'type': 'STORY'},
 {'uuid': 'ba0cb351-9680-373e-b604-065fc3625d99',
  'title': '3 Work-From-Home Stocks to Buy Right Now',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/ba0cb351-9680-373e-b604-065fc3625d99/3-work-from-home-stocks-to.html',
  'providerPublishTime': 1645202700,
  'type': 'STORY'}]

In [31]:
def time_to_current_time(time):
    import datetime
    # 1645210086
    ''' Converts a unix time to a datetime object '''
    print(datetime.datetime.fromtimestamp(time))

time_to_current_time(1645210086)

2022-02-19 00:18:06